:root{
    --main-color:rgb(96, 198, 238,1);
    --main-color-light:rgba(96, 196, 238, 0.5);
    --accent-color:rgba(0, 0, 0, 1);
    --accent-color-light:rgba(0, 0, 0, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, var(--main-color),
    var(--accent-color));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main-title{
    font-size: 3rem;
}

.header,.gorev-form{
    min-height: 20vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-item{
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    outline: none;
}
.btn-gorev-ekle{
    color: var(--main-color);
    cursor: pointer;
}
.btn-gorev-ekle:hover{
    color: white;
    background-color: var(--accent-color);
}
.gorev-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gorev-listesi{
    list-style: none;
    min-width: 40%;
}
.gorev-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    padding: .3rem;

    border-radius: 1rem;
    background-image: linear-gradient(to bottom right ,var(--accent-color-light),var(--main-color-light)) ;
    background-color: white;

    transition: .5s ease-in-out;
    
    
}
.gorev-tanim{
    flex: 1;

}
.gorev-btn{
    background-color: rgb(146, 197, 218);
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: .2rem;
    margin-left: 0.1rem;

}

.gorev-sil{
    background-color: red;
    border-radius: 1rem;
}
.gorev-btn-tamamlandi{
    background-color: yellow;
    border-radius: 1rem;
}
.gorev-tamamlandi{
    text-decoration: line-through;
    opacity: 0.3;
}

.far{
    pointer-events: none;
}

.kaybol{
    transform: scale(0);
}